<header>
    <nav>
        <!-- Navigatie menu -->

        <img class="menu" src="./images/hamburger-menu.svg" alt="Hamburger menu">
        <ul>

            <li><a href="/homepagina">Home</a></li>
            <li><a href="/">Formulieren</a></li>
            <li><a href="/profiel">Jouw opgeslagen matches</a></li>
        </ul>
    </nav>

    <h1>Hi, Lisa</h1>

    <!-- Profiel foto -->
    <a href="./profiel"><img src="./images/gebruikers-foto.png" alt="Gebruikersprofiel"></a>

</header>