<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="error-404">
    <h1 >Oops file not found</h1>
    <img src="../images/digital-werk.svg" alt="Op de laptop">
    <a class="link-home" href="/">Go back to homepage</a>
</body>

</html>