<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>

    <%- include('./partials/nav.ejs')  %>

    <h1>Welke type jurk wil je tekenen ?</h1>


    <form action="Voorkeuren invullen" method="post">
        <legend>Jurk Kleur</legend>
        <input type="checkbox" name="Jurk Kleur" id="rood">
        <label for="rood"> Rood</label>
        <input type="checkbox" name="Jurk Kleur" id="blauw">
        <label for="blauw"> Blauw</label>

    </form>

    <%- include('./partials/footer.ejs')  %>
</body>

</html>