<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouw voorkeuren</title>
</head>

<body>

   

    <h1>Welke type jurk wil je tekenen ?</h1>

    
    <form action="Voorkeuren invullen" method="post">
        <legend>Jurk Kleur</legend>
        <input type="checkbox" name="Jurk Kleur" id="rood">
        <label for="rood"> Rood</label>
        <input type="checkbox" name="Jurk Kleur" id="blauw">
        <label for="blauw"> Blauw</label>

    </form>
</body>

</html>