<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<link rel="stylesheet" href="/css/formulier.css">

<body>

    <%- include('./partials/header.ejs')  %>

    <main>
        <h1>Welke type jurk wil je tekenen ?</h1>

        <form action="/homepagina" method="post">
            <fieldset>
                <label for="interesse">Inspiratie naam</label>
                <input type="text" name="nieuweInteresse" id="interesse">
            </fieldset>

            <fieldset>
                <legend>Jurk Kleur</legend>
                <!-- Moet de name variabele anders zijn? -->
                <div class="options">
                    <input type="checkbox" name="kleur" value="rodejurk" id="rood">
                    <label for="rood"> Rood</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="blauweJurk" id="blauw">
                    <label for="blauw"> Blauw</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="paarseJurk" id="paars">
                    <label for="paars"> Paars</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="geleJurk" id="geel">
                    <label for="geel"> Geel</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="witteJurk" id="wit">
                    <label for="wit"> Wit</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="groeneJurk" id="groen">
                    <label for="groen"> Groen</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="donkergroeneJurk" id="donkergroen">
                    <label for="donkergroen"> Donkergroen</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="rozeJurk" id="roze">
                    <label for="roze"> Roze</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="zwarteJurk" id="zwart">
                    <label for="zwart"> Zwart</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Type Jurk</legend>
                <div class="options">
                    <input type="checkbox" name="typeJurk" value="zomerjurk" id="zomerjurk">
                    <label for="zomerkjurk">Zomerjurk</label>
                </div>


                <div class="options">
                    <input type="checkbox" name="typeJurk" value="bruiloft-jurk" id="bruiloftJurk">
                    <label for="bruiloft-jurk">Bruiloft Jurk</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="typeJurk" value="avondjurk" id="avondjurk">
                    <label for="avondjurk">Avondjurk</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="typeJurk" value="baljurk" id="baljurk">
                    <label for="baljurk">Baljurken</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="typeJurk" value="lange-jurk" id="langeJurk">
                    <label for="lange-jurk">Lange Jurken</label>
                </div>
            </fieldset>

            <button type="submit">Gebruik voorkeur</button>
        </form>
    </main>

    <%- include('./partials/footer.ejs')  %>
    
    <script src="./js/script.js"></script>
</body>

</html>