<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<link rel="stylesheet" href="/css/formulier.css">

<body>

    <%- include('./partials/header.ejs')  %>

    <main>
        <h1>Welke type jurk wil je tekenen ?</h1>

        <form action="/match/filter" method="post" novalidate>
            <fieldset>
                <label for="interesse">Inspiratie naam</label>
                <span class="hide"></span>
                <input type="text" name="nieuweInteresse" id="interesse" required minlength="5" maxlength="30">
                <span class="error" aria-live="polite"></span>
            </fieldset>

            <fieldset>
                <legend>Jurk Kleur</legend>
                <!-- Moet de name variabele anders zijn? -->
                <div class="options">
                    <input type="checkbox" name="kleur" value="rood" id="rood">
                    <label for="rood"> Rood</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="blauw" id="blauw">
                    <label for="blauw"> Blauw</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="paars" id="paars">
                    <label for="paars"> Paars</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="geel" id="geel">
                    <label for="geel"> Geel</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="wit" id="wit">
                    <label for="wit"> Wit</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="groen" id="groen">
                    <label for="groen"> Groen</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="donkergroen" id="donkergroen">
                    <label for="donkergroen"> Donkergroen</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="roze" id="roze">
                    <label for="roze"> Roze</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="kleur" value="zwart" id="zwart">
                    <label for="zwart"> Zwart</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Type Jurk</legend>
                <div class="options">
                    <input type="checkbox" name="typeJurk" value="zomerjurk" id="zomerjurk">
                    <label for="zomerjurk">Zomerjurk</label>
                </div>


                <div class="options">
                    <input type="checkbox" name="typeJurk" value="bruiloft-jurk" id="bruiloftJurk">
                    <label for="bruiloft-jurk">Bruiloft Jurk</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="typeJurk" value="avondjurk" id="avondjurk">
                    <label for="avondjurk">Avondjurk</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="typeJurk" value="baljurk" id="baljurk">
                    <label for="baljurk">Baljurken</label>
                </div>

                <div class="options">
                    <input type="checkbox" name="typeJurk" value="lange-jurk" id="langeJurk">
                    <label for="lange-jurk">Lange Jurken</label>
                </div>
            </fieldset>

            <button type="submit">Gebruik voorkeur</button>
        </form>
    </main>

    <%- include('./partials/footer.ejs')  %>

    <script src="/js/script.js"></script>
    <script src="/js/form-validatie.js"></script>
</body>

</html>