<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home pagina</title>
</head>

<body>
<!-- Partials codes -->
<!-- importeer de code door function include te gebruiken -->
   <%- include('./Partials/nav.ejs')  %> 

   

    <h1>Dit is de homepagina van de matching applicatie</h1>

   
</body>

</html>