<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouw opgeslagen matches</title>
</head>

<body>
<!-- output value -->
    <h1>Match heet <%= naam %> </h1>

    <p>Maker is <%= maker %> </p>
    <p>kleur van jurk is <%= kleur %> </p>

    <!-- output value tag -->
</body>

</html>