<% matches.forEach(function(match){ %>
<!-- Hier is een thumbnail van alle afbeeldingen 1-->
<section>
    <img src="/images/<%= match.url %>" alt="Jurk Afbeelding">

    <figure>
        <nav>
            <ul>
                <li><a href="#"><img src="./images/gum.svg" alt="Remove Icoon">Weghalen</a></li>
                <li><a href="#"><img src="./images/download.svg" alt="Download Icoon">Downloaden</a></li>
                <li><a href="#"><img src="./images/add.svg" alt="Add Icoon">Toevoegen</a></li>
            </ul>
        </nav>
    </figure>

    <!-- Informatie over de match -->

    <article>
        <ul>
            <li> <%=match.gebruikersnaam %> </li>
            <li><%= match.publicatiedatum %> </li>
        </ul>


        <h2>Beschrijving</h2>
        <p><%= match.beschrijving %> </p>


    </article>
    <form action="/homepagina">
        <label for="pallete">Haal kleuren uit de afbeelding</label>
        <input type="color" value="#e66465">
    </form>


</section>
<% }) %>