
/***********************/
/* Header en navigatie */
/***********************/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

header img {
    width: 2em;
}

/* Gebruikersprofiel */
header a img {
    margin-left: 5em;
    border-radius: 50%;
    width: 4em;
}

header ul {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: -20em;
}

.toon-menu {
    padding: 2em;

    position: absolute;
    top: 0;

    left: 0;

}

.menu {
    transition: 0.5s;
}