body {
    margin: 0 auto;
    width: 50%;
}

/***********************/
/* Header en navigatie */
/***********************/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

header img {
    width: 2em;
}

header>a:last-of-type {
    display: flex;
    justify-content: flex-end;
}

/* Gebruikersprofiel */
header a img {
    transform: scale(1.1);
    border-radius: 50%;
    width: 4em;
}

header ul {
    z-index: 1;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: -20em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.toon-menu {
    padding: 2em;
    animation-name: side-menu;
    animation-duration: 1s;
    animation-timing-function: all ease-in-out;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    position: absolute;
    top: 10em;

    left: -1em;

}

.menu {
    transition: 0.5s;
}

@keyframes side-menu {
    from {
        transform: translateX(-9em);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*****************/
/* Het formulier */
/*****************/

main {
    background-color: var(--achtergrond-kleur-3);
    padding: 2em;
    /* box shadow */
    /* Bron:  https://shadows.brumm.af/*/
    box-shadow: 0.4px 0.3px 0.6px rgba(0, 0, 0, -0.002),
        1px 0.8px 1.5px rgba(0, 0, 0, 0.004),
        1.9px 1.5px 2.9px rgba(0, 0, 0, 0.013),
        3.4px 2.7px 5.1px rgba(0, 0, 0, 0.025),
        6.3px 5px 9.6px rgba(0, 0, 0, 0.042),
        15px 12px 23px rgba(0, 0, 0, 0.07);


}

form {
    display: flex;

    flex-direction: column;
}

legend {
    color: var(--heading-kleur);
    font-weight: bold;
    font-size: 2em;

}

label {
    font-size: 1.5em;
}

input[type='text'] {
    padding: 0.8em;
    width: 273px;
    border-radius: 2em;
    border: 1px solid var(--heading-kleur);
}

input[type='text']:active,
input[type='text']:focus {
    background-color: #dcdfff;
}

input[type='checkbox'] {
    margin-right: 1em;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 2px solid var(--heading-kleur);
}

input[type='checkbox']:checked {
    background: var(--heading-kleur);
}

fieldset {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;

    border: none;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: row;
}

button[type='submit'] {
    cursor: pointer;
    align-self: flex-end;
    padding: 1.5em;
    border-radius: 1.5em;
    background-color: var(--heading-kleur);
    color: white;
    font-weight: bold;
    border: none;

    transition: ease-in-out 0.2s;
}

button[type='submit']:hover {
    background-color: var(--actief-link);

}