body {
    margin: 2em auto;
    width: 100%;
}

/**********/
/* Header */
/**********/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

header img {
    width: 2em;
}

header>a:last-of-type {
    display: flex;
    justify-content: flex-end;
}

/* Gebruikersprofiel */
header a img {
    transform: scale(1.1);
    border-radius: 50%;
    width: 4em;
}

header ul {
    z-index: 1;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: -20em;
    border-radius: 1.5em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.toon-menu {
    padding: 2em;
    animation-name: side-menu;
    animation-duration: 1s;
    animation-timing-function: all ease-in-out;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    top: 10em;
    left: -1em;
}

.menu {
    transition: 0.5s;
}

@keyframes side-menu {
    from {
        transform: translateX(-9em);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/**********/
/* Filter */
/**********/

body>form {
    padding: 2em;
}

form label {
    font-size: 2em;
    font-weight: bold;
}

form input[type="text"] {
    margin-left: 1em;
    padding: 1em;
    width: 50%;
    border: none;
    border-radius: 2em;
}

section label {
    font-size: 1.5em;
}

/********/
/* Main */
/********/
main {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: none;
    gap: 2.5em;
}

main h2 {
    font-family: var(--heading-tekst);
}

section {
    position: relative;
    background-color: white;
    padding: 1em;
    border-radius: 2em;
    transition: ease-in-out 0.5s;
    /* box shadow */
    /* Bron:  https://shadows.brumm.af/*/
    box-shadow: 0.4px 0.3px 0.6px rgba(0, 0, 0, -0.002),
        1px 0.8px 1.5px rgba(0, 0, 0, 0.004),
        1.9px 1.5px 2.9px rgba(0, 0, 0, 0.013),
        3.4px 2.7px 5.1px rgba(0, 0, 0, 0.025),
        6.3px 5px 9.6px rgba(0, 0, 0, 0.042),
        15px 12px 23px rgba(0, 0, 0, 0.07);
}

section:hover,
section:focus {
    transform: scale(0.9);
    border: 5px solid var(--heading-tekst);
}

/* Afbeelding van de Jurk */
section img[alt="Jurk Afbeelding"] {
    border-radius: 2em;
}

/**************************************/
/* /* Wat je kan doen met de match    */
/**************************************/
/* De iconen */
section figure ul {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-4em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1em;
    background-color: var(--achtergrond-kleur-3);
    padding: 1.5em 0.5em;
    border-radius: 2em;
}

/* Download, remove and add button */
section figure ul a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--links-kleur);
}

section figure li {
    align-items: center;
}

section figure ul a img {
    width: 2em;
    height: 2em;
}

section form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: none;
}

section form label {
    color: var(--heading-kleur);
}

/******************************/
/* Beschrijving over de match */
/******************************/
article {
    margin: 4em 0;
}

article ul {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    gap: 3em;
}

article li,
p {
    color: var(--bodytekst-kleur);
}

/* HTML eyedropper */
input[type="color"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 400px;
    height: 100px;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 1em;
    border: none;
}

#eyedropperButton {
    font-family: var(--bodytekst);

    font-weight: bold;
    align-items: center;
    padding: 1.5em;
    border: none;
    background-color: var(--achtergrond-kleur-1);
    margin: 1em 2em;
    border-radius: 2em;
    color: rgb(30, 13, 41);
}

@media (max-width: 40em) {
    main {
        grid-template-columns: 1fr;
    }

    form input[type="text"] {
        display: block;
        width: 80%;
    }
}