header ul {
    display: flex;
    flex-direction: row;

    gap: 2em;
    justify-content: space-between;
    margin: 3em 0;

}

header li {
    display: flex;
    align-items: center;
}

header ul a img {
    width: 2em;

}

header ul a {
    display: flex;
    flex-direction: column;

}

/****************************/
/* Tab van gebruikerspagina */
/****************************/

main section:nth-of-type(1) {
    border-bottom: 0.5em solid var(--achtergrond-kleur-2);
}

main section:nth-of-type(1) ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

main section:nth-of-type(1) ul a {
    transition: 1s;
    color: var(--bodytekst-kleur);
}

main section:nth-of-type(1) ul .current-tab {
    font-size: 1.5em;
    color: #8361be;
    font-weight: bold;
}


/*************/
/* Section 2 */
/*************/

section:nth-of-type(2) {
    position: relative;
    background-color: var(--achtergrond-kleur-2);
    padding: 1em;
}

section:nth-of-type(2) .match-foto {
    border-radius: 3em;
}

section:nth-of-type(2) figure ul {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-4em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 2em;
    background-color: var(--achtergrond-kleur-3);
    padding: 1.5em 0.5em;
    border-radius: 2em;
}


section:nth-of-type(2) figure ul a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--link-kleur);
}

section:nth-of-type(2) figure li {
    align-items: center;
}

section:nth-of-type(2) figure ul a img {

    width: 2em;
    height: 2em;
}


/*******************************/
/* Beschriving over de artikel */
/*******************************/
article {
    margin: 4em 0;

}

article ul {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

article li,
p {
    color: var(--bodytekst-kleur);
}