* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/********************/
/* Algemene stijlen */
/********************/

/* Kleur pallette voor de applicatie */
:root {
    /* Headings */
    --heading-kleur: #605AD5;
    --heading-tekst: 'colendra', 'lato', sans-serif;

    /* Achtergrond - kleur */
    --achtergrond-kleur-1: #8FA6E9;
    --achtergrond-kleur-2: #f2f1ff;
    --achtergrond-kleur-3: #FFFFFF;

    /* Links */
    --links-kleur: #462A78;
    --actief-link: #8d52f1;

    /* Tekst */
    --bodytekst-kleur: #414141;
    --bodytekst: 'brandon grotesque', 'lato', sans-serif;
    --links-tekst: #ffffff;
}


body {
    margin: 2em auto;
    width: 80%;
    font-family: var(--bodytekst);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #dbd5ff;
}

/************************/
/* Header met navigatie */
/************************/

/* Is de gebruikersnaam  */
h1 {
    font-size: 3em;
    font-family: var(--heading-tekst);
    color: var(--heading-kleur);
    text-align: center;
}

h3 {
    font-size: 3em;
    text-align: center;
    font-family: var(--heading-tekst);
    color: var(--heading-kleur);
    background-color: var(--achtergrond-kleur-3);
    padding: 3em;
    margin: 3em;
    border-radius: 1.5em;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    transition: 0.5s;
    text-decoration: none;
}

h2 {
    color: var(--heading-kleur);
}



main {
    border-radius: 2em;
    padding: 1em;
    /* background-color: white; */
}

.menu:hover,
a:hover {
    transform: scale(1.3);
}

.navigatie a {
    border-radius: .5em;
    padding: .3em;
    margin: 0.5em 0;
}

/* Algemene navigatie van de header */
.navigatie a:hover {
    background-color: #dbd5ff;

}

/* 404 Error  pagina*/
.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em auto;
    width: 50%;
}

.error-404 img {
    width: 30%;
    margin: 3em 0;
}

/* Go to homepage bij de error 404 pagina */
.link-home {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    background-color: var(--achtergrond-kleur-3);
    font-family: var(--heading-tekst);
    font-weight: bold;

    padding: 1em;
    border-radius: 1.5em;
    color: var(--heading-kleur);
}


footer {
    margin: 2em 0;
    padding: 2.5em;
    text-align: center;
    border-radius: 1.5em;
    background-color: var(--achtergrond-kleur-3);
}