body {
    margin: 0 auto;
    width: 40%;
}

header ul {
    display: flex;
    flex-direction: row;

    gap: 2em;
    justify-content: space-between;
    margin: 3em 0;

}

header li {
    display: flex;
    align-items: center;
}

header ul a img {
    width: 2em;

}

header ul a {
    display: flex;
    flex-direction: column;

}

/********************************/
/* Informatie over de gebruiker */
/********************************/

section:first-of-type {
    display: flex;
    align-items: center;
    gap: 3em;

    padding: 1em 0;

}


section:first-of-type img {
    border-radius: 50%;
    width: 20%;
    height: auto;
}

section:first-of-type h1 {
    font-size: 2em;
    text-align: left;
}

/*************/
/* Section 2 */
/*************/

section:nth-of-type(2) {
    border-bottom: 0.5em solid var(--achtergrond-kleur-2);
}

section:nth-last-of-type(2) ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

section:nth-of-type(2) ul a {
    transition: 1s;
    color: var(--bodytekst-kleur);
}

section:nth-of-type(2) ul .current-tab {
    font-size: 1.5em;
    color: #8361be;
    font-weight: bold;
}


/*************/
/* Section 3 */
/*************/

section:nth-of-type(3) figure {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}

section:nth-of-type(3) img {
    width: 100%;
    height: auto;
    border-radius: 1.5em;
}