*,
*::after,
*::before,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/********************/
/* Algemene stijlen */
/********************/

:root {
    --heading-kleur: #605AD5;
    --heading-tekst: 'colendra', 'lato', sans-serif;

    --achtergrond-kleur-1: #8FA6E9;
    --achtergrond-kleur-2: #f2f1ff;
    --achtergrond-kleur-3: #FFFFFF;

    --links-kleur: #462A78;
    --actief-link: #8d52f1;

    --bodytekst-kleur: #414141;
    --bodytekst: 'brandon grotesque', 'lato', sans-serif;
    --links-tekst: #ffffff;

}


body {
    background-color: white;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
    ;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    ;
    -moz-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em auto;
    width: 40%;
    font-family: var(--bodytekst);
}




h1 {
    font-family: var(--heading-tekst);
    color: var(--heading-kleur);
    text-align: center;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    transition: 0.5s;
    text-decoration: none;
}

h2 {
    color: var(--heading-kleur);
}

.menu:hover,
a:hover {
    transform: scale(1.5);
}